header {
    background-color: #1A2AB7;
    color: white;
    
    padding: 12px;
}

h1 {
    margin-left: 50px;
}

@media (max-width: 400px) {
  h1{
      font-size: 24px;
      text-align: center;
      margin: 0;
      padding: 4px;
  }
}